{% extends 'layout.html' %}

{% block title %}Your Trip{% endblock %}

{% block content %}

<div id="app" class="clearfix">
  <div class="map-container col-sm-8 col-lg-9">
    <div>
      <div id="map-canvas"></div>
    </div>
  </div>
  <div id="control-panel" class="col-sm-4 col-lg-3 clearfix">
    <div class="col-xs-6 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body" id="options-panel">
          <div>
            <h4>Hotels</h4>
            <select data-type="hotel" id="hotel-choices">
            </select>
            <button data-action="add" class="btn btn-primary btn-circle pull-right">+</button>
          </div>
          <div>
            <h4>Restaurants</h4>
            <select data-type="restaurant" id="restaurant-choices">
            </select>
            <button data-action="add" class="btn btn-primary btn-circle pull-right">+</button>
          </div>
          <div>
            <h4>Activities</h4>
            <select data-type="activity" id="activity-choices">
            </select>
            <button data-action="add" class="btn btn-primary btn-circle pull-right">+</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-12">
      <h3>
        <span id="day-title">
          <span>Day 1</span>
          <button class="btn btn-xs btn-danger remove btn-circle">x</button>
        </span>
      </h3>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="day-buttons">
            <button class="btn btn-circle day-btn current-day last-day not-add" type='day-button' id='day-1'>1</button>
            <button class="btn btn-circle day-btn" id="day-add">+</button>
          </div>
        </div>
        <div class="panel-body" id="itinerary">
          <div>
            <h4>My Hotel</h4>
            <ul class="list-group" id='my-hotels-list'>
              <div class="itinerary-item">
              </div>
            </ul>
          </div>
          <div>
            <h4>My Restaurants</h4>
            <ul class="list-group" id='my-restaurants-list'>
              <div class="itinerary-item">
              </div>
            </ul>
          </div>
          <div>
            <h4>My Activities</h4>
            <ul class="list-group" id='my-activities-list'>
              <div class="itinerary-item">
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

  let ourWindow = this;
  console.log(ourWindow);

  function Day() {
    this.hotels = [];
    this.restaurants = [];
    this.activities = [];
  }

  let currentDay = 0;
  let dayArray = [ new Day() ];

  var hotels = {{ hotels | dump | safe }};
  var restaurants = {{ restaurants | dump | safe }};
  var activities = {{ activities | dump | safe }};
  // console.log(hotels);
  let $hotel = $('#hotel-choices');
  let $restaurant = $('#restaurant-choices');
  let $activity = $('#activity-choices');

  hotels.forEach( (ele) => {
    // console.log(ele);
    $hotel.append('<option>' + ele.name +'</options>');
  });

  restaurants.forEach( (ele) => {
    $restaurant.append('<option>' + ele.name +'</options>');
  });

  activities.forEach( (ele) => {
    $activity.append('<option>' + ele.name +'</options>');
  });

  
  
  $('#hotel-choices+button').on('click', () => {
    createItineraryItem($hotel.val(), 'hotels');
  });

  $('#restaurant-choices+button').on('click', () => {
    createItineraryItem($restaurant.val(), 'restaurants');
  });

  $('#activity-choices+button').on('click', () => {
    createItineraryItem($activity.val(), 'activities');
  });

// Removes special characters from name before creating tag
function makeTag(string) {
  return string.replace(/[\s&,\-()\*%$#@!~`]+/g, '');
}

// Adds an item to the itinerary from that database matching the name and type
function addToCurrentDay(name, type) {
    let idTag = makeTag(name);
    dayArray[currentDay][type].push(name);
    $(`#my-${type}-list`).append(`
      <div class="itinerary-item">
        <span class="title" id="${idTag}" >${name}</span>
        <button class="btn btn-xs btn-danger remove btn-circle" id="${idTag}-button">x</button>
      </div>`);
}


// Place marker on the map based on name and type
// Returns that marker
function placeMarker(name, type) {

    let array = [];
    let typeName = '';

    if(type === 'hotels') {
      array = hotels;
      typeName = 'hotel';
    }

    if(type === 'restaurants') {
      array = restaurants;
      typeName = 'restaurant';
    }

    if(type === 'activities') {
      array = activities;
      typeName = 'activitiy';
    }

    let index = array.findIndex( (ele) => {
      return ele.name === name
    });

    let locArr = array[index].place.location;
    return drawMarker(typeName, locArr);

  }

  // Adds remove button to itinerary item and sets 'click' event listener
  function addRemoveButton(name, type, marker) {
    let idTag = makeTag(name);
  
    $(`#${idTag}-button`).on('click', function () {
      // debugger;
      let $this = $(this);

      let searchId = $this[0].id.slice(0, -7);

      let currentType = dayArray[currentDay][type];
      let index = currentType.findIndex( (ele) => {
        return ele === searchId.split('-').join(' ');
      });

      dayArray[currentDay][type].splice(index, 1);
      marker.setMap(null);
      $this.parent().remove();
    });
  }

  $('#day-add').on('click', () => {
    addDay();
  });

  function addDay() {
    $('.last-day').after(`<button class="btn btn-circle day-btn last-day" type='day-button' id='day-${dayArray.length + 1}'>${dayArray.length + 1}</button>`);
    $('.last-day').first().removeClass('last-day');
    dayArray.push(new Day());
  }

  function removeDay() {

    clearDay();
    dayArray.splice(currentDay, 1);
    $(`#day-${currentDay + 1}`).remove();

    if(currentDay === 0 && dayArray.length > 0) {
      currentDay++;
    } else if (currentDay === 0 && dayArray.length === 0) {
      addDay();
    } else {
      currentDay--;
    }
  }


  $('#day-title button').on('click', () => {
    removeDay();
  });

  $('.day-buttons').on('click', '[type="day-button"]', (event) => {
    clearDay();

    // Button stuff
    $buttonClicked = $(event.target);
    currentDay = parseInt($buttonClicked.text()) - 1;
    $('.current-day').removeClass('current-day');
    $buttonClicked.addClass('current-day');

    // Panel / Day stuff
    setupDay();

  });

  function createItineraryItem(name, type) {
      addToCurrentDay(name, type);
      let marker = placeMarker(name, type);
      addRemoveButton(name, type, marker);
  }

  function clearDay() {
    $('.itinerary-item').remove();
  }


  function setupDay() {
    
      dayArray[currentDay].hotels.forEach((hotelName) => {
        createItineraryItem(hotelName, 'hotels');
      });

      dayArray[currentDay].restaurants.forEach((restaurantName) => {
        createItineraryItem(restaurantName, 'restaurants');
      });

      dayArray[currentDay].activities.forEach((activityName) => {
        createItineraryItem(activityName, 'activities');
      });
    }

</script>
{% endblock %}
